# Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Django SQLite database
db.sqlite3

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Other
.DS_Store
media/
